* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: calc(100vh - 60px);
  scroll-behavior: smooth;
}

/* Header Section */

header {
  background-color: rgb(5, 5, 61);
  height: 30px;
}

.logo {
  padding-left: 10px;
}

/* Main Section  */

.responsive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.card-container {
  padding: 2px;
  margin: 2px;
  border: 2px solid rgb(0, 0, 0);
  /* width: fit-content; */
}

.three-row-grid {
  display: grid;
  grid-template-rows: auto 1fr auto / auto;
  /* grid-template-rows: "top-image icons writing" auto / auto; */
}

.top-image {
  /* grid-area: top-image; */
  max-width: 100%;
  height: auto;
}

.icons {
  display: grid;
  /* grid-area: icons; */
  grid-template-columns: auto auto;
  justify-content: right;
  padding: 5px;
}

/* .git-hub-logo {
} */

.twitter-logo {
  padding-left: 5px;
}

.writing {
  /* grid-area: writing; */
}

/* .center-writing {
  margin: 0 auto;
} */

/* footer  */

footer {
  background-color: rgb(5, 5, 61);
  height: 30px;
}
